# my vscode settings
.vscode/

# binary (objects) files dir
bin/

# executable file dir
build/

# log file dir
Log/

# here main needed only for lib-functions test
main.cpp


# struct of project file
# project_struct/
